body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #7fff00;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

footer .icono-titulo {
    align-items: center;
    background-color: #FFF;
    display: flex;
    width: 100%;
}

footer .icono-titulo img {
    margin: 20px;
}

footer .icono-titulo img {
    height: 50px;
    width: 50px;
}

footer .icono-titulo h3 {
    font-size: 24px;
    font-weight: 700;
}

footer .grupos-enlaces .grupo .titulo-icono-enlaces {
    align-items: center;
    display: flex;
}

footer .grupos-enlaces .grupo .titulo-icono-enlaces i {
    margin-left: -20px;
}

footer .grupos-enlaces .grupo .titulo-icono-enlaces span {
    margin-left: 10px;
}

footer .grupos-enlaces {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

footer .grupos-enlaces .grupo {
    display: flex;
    flex-direction: column;
}

footer .grupos-enlaces .grupo span {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: -20px;
}

footer .grupos-enlaces .grupo .enlace {
    margin-top: 70px;
}

footer .grupos-enlaces .grupo a {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

footer .derechos {
    background-color: #FFF;
    bottom: 0;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
}