# Artefactos generados al ejecutar los ejercicios
exercises/combinar-pdfs/combinacion.pdf
exercises/marca-agua/imagen_marca_agua.jpg
exercises/lista-to-do/tareas.json
exercises/organizador-archivos/archivos/

# Python
__pycache__/
*.pyc

.freebuff
