body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

header {
    background-color: #fff;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: width 0.2s ease-in-out;
    width: 180px;
}

header .control {
    position: absolute;
    right: -18px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

header .control button {
    background-color: #f00;
    border: none;
    border-radius: 25%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    padding: 5px 7px;
}

header .control i {
    color: #fff;
}

nav {
    position: relative;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

nav ul a {
    color: #000;
    text-decoration: none;
    position: relative;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

nav ul li {
    cursor: pointer;
    display: flex;
    padding: 20px 15px 15px 15px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

nav ul li i {
    font-size: 20px;
    height: 20px;
    width: 20px;
}

nav ul li span {
    font-size: 16px;
    margin-left: 15px;
}

.fa-house {
    color: #4169E1;
}

.fa-download {
    color: #008000;
}

.fa-file {
    color: #FCC900;
}

.fa-image {
    color: #FF5500;
}

.fa-music {
    color: #FF0000;
}

.fa-video {
    color: #800080;
}

.fa-clock {
    color: #FF008C;
}

.fa-gear {
    color: #6C7B8B;
}

.fa-trash {
    color: #FF4646;
}

.fa-circle-info {
    color: #00AAAA;
}