* {
    box-sizing: border-box;
    font-family: '', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #C61B0D;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.contenedor-presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 80px;
    margin-bottom: 40px;
}

figure {
    margin-bottom: 20px;
}

figure img {
    height: 300px;
    width: 300px;
}

span {
    position: absolute;
    bottom: 10px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
}